[Unit]
Description=jupyter setup scripts
Requires=network-online.target
After=network-online.target

[Service]
Environment="BOARD=Ultra96"
ExecStart=/sbin/start-jupyter.sh

[Install]
WantedBy=default.target
