[Desktop Entry]
Type=Application
Name=4K HEVC Decode
Comment=VCU Example: Plays sample HEVC encoded content with audio
Exec=matchbox-terminal -e "bash -c \"vcu-demo-decode-display.sh -c hevc -a vorbis; exec bash\""
Icon=applications-multimedia
Terminal=false
Categories=GTK;Utility;
StartupNotify=true
